# ==============================
# NODE MODULES
# ==============================
node_modules/

# ==============================
# ENV FILES (IMPORTANT 🔥)
# ==============================
.env

# ==============================
# UPLOADS (User images)
# ==============================
uploads/

# ==============================
# LOG FILES
# ==============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==============================
# BUILD FILES
# ==============================
frontend/dist/
frontend/build/

# ==============================
# VITE CACHE
# ==============================
frontend/.vite/
frontend/.cache/

# ==============================
# OS FILES
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE FILES
# ==============================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# ==============================
# MONGODB LOCAL FILES
# ==============================
*.log
*.pid
