.footer-section {
  background: #f8f9fb;
  padding: 60px 0 30px 0;
}

.footer-logo {
  color: #0d6efd;
  font-size: 20px;
}

.footer-text {
  color: #6c757d;
  font-size: 14px;
  line-height: 1.6;
}

.footer-title {
  font-weight: 600;
  margin-bottom: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  transition: 0.3s;
}

.footer-links li {
  margin-bottom: 10px;
  color: #6c757d;
  cursor: pointer;
}

.footer-links li:hover {
  color: #0d6efd;
}

.subscribe-btn {
  border-radius: 20px;
}

.footer-divider {
  margin: 40px 0 20px;
}

.footer-bottom {
  font-size: 14px;
  color: #6c757d;
}

.footer-policy span {
  margin-left: 20px;
  cursor: pointer;
}

.footer-policy span:hover {
  color: #0d6efd;
}

/* MOBILE ACCORDION STYLE */
.mobile-icon {
  display: none;
}

/* Mobile */
@media (max-width: 768px) {
  .footer-links {
    display: none;
  }

  .footer-links.show{
    display: block;
    margin-bottom: 20px;
  }

  .mobile-icon {
    display: inline-block;
    font-size: 12px;
  }

  .footer-title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
  }

  .footer-policy span {
    margin-left: 0;
    margin-right: 15px;
  }
}
